.button{
    @include button;
    background-color: #fb397d;
    color: white;
}
.button-sec{
    @include button;
    background-color: white;

}
.button-third{
    @include button;
    background-color: white;
    

}