@mixin button {
    border: 0.2rem none;
    border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-size: 1.6rem;
    font-weight: 600 ;
    text-decoration: none;
    text-transform: capitalize;
  }
  @mixin underline {
    content: '';
    display: block;
    width: 45px;
    left:49%;
    margin-top: 3rem;
    position: absolute;
    height: 4px;
    
}