.nav-bar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
    position: fixed;
    overflow: hidden;
    width: 100%;
    p{
        color: white;
        font-size: 2rem;
        margin-right: auto;
        font-weight: 200;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            padding-right: 3rem;

            a{
                text-decoration: none;
                color: white;
                font-size: 1.7rem;
                font-weight: 100;
                display: inline-block;
            }
        }          
    }
}
